<%= form_with(model: mahasiswa, local: true) do |form| %>
  <% if mahasiswa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mahasiswa.errors.count, "error") %> prohibited this mahasiswa from being saved:</h2>

      <ul>
      <% mahasiswa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama %>
    <%= form.text_field :nama %>
  </div>

  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_field :alamat %>
  </div>

  <div class="field">
    <%= form.label :tanggal %>
    <%= form.date_select :tanggal %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
