<h1>Mahasiswa</h1>
<table class=table>
  <thead>
    <tr>
      <td>#</td>
      <td>Nama</td>
      <td>Alamat</td>
      <td>Tanggal</td>
      <td colspan="4"></td>
    </tr>
  </thead>

  <tbody>
    <% @mahasiswas.each do |mahasiswa| %>
      <tr>
        <td><%= mahasiswa.id %></td> 
        <td><%= mahasiswa.nama %></td>
        <td><%= mahasiswa.alamat %></td>
        <td><%= mahasiswa.tanggal %></td>
        <td><%= link_to 'Show', mahasiswa, class: 'btn btn-primary' %></td>
        <td><%= link_to 'Edit', edit_mahasiswa_path(mahasiswa), class: 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', mahasiswa, method: :delete,class: 'btn btn-danger'%></td>
      </tr>
      <% mahasiswa.id+=1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mahasiswa',  new_mahasiswa_path, class:'btn btn-primary' %>
